//Susy Setup
$total-columns          : 12;             // a 12-column grid
$column-width           : 4em;            // each column is 4em wide
$gutter-width           : 1em;            // 1em gutters between columns
$grid-padding           : $gutter-width;  // grid-padding equal to gutters
$show-grid-backgrounds  : true;
$border-box-sizing      : true;

//Options

// $container-style        : fluid; : static;
// @include prefix(1,12); add a column

$small                  : 30em;
$medium                 : 47em;
$large                  : 75em;

@include border-box-sizing;

// Content -------------------------------------
.layout {
  @include container;

  // Main -------------------------------------
  .primary {
      margin-top:.2em;
      @include at-breakpoint($medium) {
        @include span-columns(8,12);

        #nextmeeting {
          @include border-radius(20px);
          color: $paleyellow;
          margin-bottom: 10px;
          margin-top: 10px;
          padding: 0 20px 20px 20px;
          background: $cyan; 
          h1 {
            color: darken($cyan, 15);
            border: none;
            text-shadow: none;
            margin-bottom: 20px;
          }
          a {
            color: $darkblue;
          }
        }
      }
  } //primary

  // aside ----------------------------------------
  .secondary {
      @include at-breakpoint($medium) {
        @include span-columns(4 omega, 12);
        font-size: 1.1rem;
        h1 {
          font-size: 1.8rem;
          color: $orange;
        }
      }
  } //aside
} //layout


// header  ------------------------------------
header {

  img {
    max-width: 100%;
    margin-top: 10px;
  } //img

  // Hero Unit ------------------------------------
  .hero {
      width: 100%;
    @include at-breakpoint($medium) {
      position: relative;
      display: block;
      width: 100%;
      height: 450px;
      @include background(linear-gradient(bottom left, rgba($darkerblue,.6),  rgba($darkerblue,0)), image-url("misc/helper.jpg"));
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin: 0 auto;
      display: block;
      @include single-transition(all, 1s,ease-out);

      .branding {
        position: absolute;
        bottom: 0;
      } //branding

    } //medium
  } //hero


  // Nav -------------------------------------
  .navigation {
      background: lighten($darkblue, 10);

    ul.nav {
      @include at-breakpoint($small) {
        @include horizontal-list;
      }

      li {
        @include single-transition(all, .5s,ease-out);

        i {
          color: lighten($yellow,20);
          padding-right:.5em;
        }

        a {
            display: block;
            text-decoration: none;
            padding: 5px 10px;
           color: $paleryellow;
        } //a

        &:hover {
          background: $orange;
          a {
            color: lighten($yellow, 30);
          }
        } //hover

      } //li
    } //ul
  } //navigation

} //header

// Speakerslist -------------------------------------
.speakerslist {
    @include at-breakpoint($medium) {

      text-align: center;
      @include background(linear-gradient(top, lighten($darkblue,3),  $darkerblue));
      color: rgba($paleyellow,.5);
      overflow: hidden;
      padding-bottom: 10px;

      #{headings()} {
        text-shadow: none;
        border-bottom: none !important;
      }

      h1 {
        font-size: 2.6rem;
        line-height: 1em;
        @include at-breakpoint($large) {
          font-size: 4.0rem;
          line-height: 1em;
        }
        color: $green;
      }

      h3 {
        color: lighten($yellow, 10);
        line-height: .9em;
      }

      .small {
        padding-top: .4em !important;
        line-height: 1em;
        color: lighten($darkblue, 30);
        a {
          color: lighten($darkblue, 30);
          text-decoration: none;

          &:hover {
           text-decoration: underline;
          }
        }
      }

      img.speaker {
        float: none;
        width: 40%;
        max-width: 170px;
        margin: 0 auto;
        @include border-radius(50%);
      }

      .small {
        display: block;
      }


      p:nth-of-type(2) {
        font-weight: 200 !important;
        text-align: left;
        font-size: .8em;
        line-height: 0;
        @include single-transition(all, .3s,ease-out);
        opacity: 0;
      }

      &:hover {
        p:nth-of-type(2) {
          line-height: 1.5em;
          opacity: 1;
        }
      }

      .artist {
        @include span-columns(4,12);
      } //artist

      .artist:nth-of-type(3) {
        @include span-columns(4 omega,12);
      }
    } //medium
} //Speakerslist




// footer ----------------------------------------
footer {
  color: $paleyellow;
  background: lighten($darkblue,3);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
} //footer