//Susy setup ------------------------------------
$total-columns        : 12;
$column-width         : 4em;
$gutter-width         : 1em;
$grid-padding         : $gutter-width;

@include border-box-sizing;

$small                : 30em;
$medium               : 47em;
$large                : 75em;


//Content ------------------------------------
.layout {
  @include container;
  padding: 3%;

  //Primary ------------------------------------
  .primary {
    margin-top: .2em;
    @include at-breakpoint($medium) {
      @include span-columns(8,12);

      #nextmeeting {
        @include border-radius(20px);
        color: $paleyellow;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 0 20px 20px 20px;
        background: $cyan;

        h1 {
          color: darken($cyan, 15);
          border: none;
          text-shadow: none;
          margin-bottom: 20px;
        } //h1

        a {
          color: $darkblue;
        } //a

      } //next meeting

    } //medium layout
  } //primary

  //Secondary ------------------------------------
  .secondary {
    @include at-breakpoint($medium) {
      @include span-columns(4 omega, 12);
      font-size: 1.1rem;
      h1 {
        font-size: 1.8rem;
        color: $orange;
      }
    }
  }

} //Content layout


//header ------------------------------------
header {
  img {
    width: 95%;
    margin: 2.5%;
    max-width: 500px;
    margin-bottom: 0;
  }

  .hero {
    width: 100%;
    @include at-breakpoint($medium) {
      position: relative;
      display: block;
      width: 100%;
      height: 450px;
      @include background(linear-gradient(bottom left, rgba($darkerblue, .6), rgba($darkerblue, 0)),image-url('misc/helper.jpg'));
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin: 0 auto;

      .branding {
        position: absolute;
        bottom: 0;
      }

    }
  }

}

//Navigation ------------------------------------
.navigation {
  background: lighten($darkblue, 15);
  ul.nav {
    li {
      i {
        color: lighten($yellow, 20);
        padding-right: .5em;
      } //icons

      a {
        display: block;
        text-decoration: none;
        padding: 5px 10px;
        color: $paleryellow;
      } //a
    } //li
  } //ul.nav
} // navigation

//footer ------------------------------------
footer {
  color: $paleyellow;
  background: lighten($darkblue, 3);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
}
